[Desktop Entry]
Icon=text-html
Name=https://community.platformio.org/t/esp32-board-selection/17331/18
Type=Link
URL[$e]=https://community.platformio.org/t/esp32-board-selection/17331/18
